# config.yaml

device: auto

model:
  window_size: 8
  num_heads: 5
  scale: 4
  dim: 55
  num_blocks: 5 # original paper has 6 i think but do -1 since we include that first block without local conv automatically
  include_layer_norm: false

training:
  resume_checkpoint: null # 'models/checkpoint.pth' => use this to resume from checkpoint
  epochs: 500
  batch_size: 32
  learning_rate: 0.0005 
  num_workers: 0
  beta1: 0.9
  beta2: 0.999
  epsilon: 0.00000001
  lr_decay_step: 50
  lr_decay_gamma: 0.5
  val_interval: 1
  log_dir: "logs"
  log_image_interval: 5
  save_interval: 10

dataset:
  root_dir: "src/data"
  scale: 4
  train_patch_size: 64
  patches_per_image: 16
  val_patch_size: null
  augment: true
  val_subset_size: 10

optimizer:
  type: adam
