# config.yaml

device: auto

model:
  window_size: 8
  num_heads: 5
  scale: 4
  dim: 55
  num_blocks: 5 # original paper has 6 i think but do -1 since we include that first block without local conv automatically
  include_layer_norm: false

training:
  epochs: 1000
  batch_size: 32
  learning_rate: 0.0005
  num_workers: 4
  beta1: 0.9
  beta2: 0.999
  epsilon: 0.00000001
  lr_decay_step: 100
  lr_decay_gamma: 0.5
  val_interval: 1

dataset:
  root_dir: "src/data/DIV2K"
  scale: 4
  train_patch_size: 64
  val_patch_size: null
  augment: true
  val_subset_size: 10

optimizer:
  type: adam
